{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}
    <h1>Review</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ review.Note }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ review.Commentaire }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ review.DateCreation ? review.DateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_review_index') }}">back to list</a>

    <a href="{{ path('app_review_edit', {'id': review.id}) }}">edit</a>

    {{ include('review/_delete_form.html.twig') }}
{% endblock %}
